:root {
  --primary-accent: darkslateblue;
  --secondary-10: darkslateblue;
  --semantic-neutral-80: blue;
  --font-brand: 'Beni';
}

html, body {
  background-color: #2980b9;
}
h3 {
  font-family: var(--font-brand);
}

@font-face {
  font-family: 'Beni';
  src: url(/assets/css/assets/fonts/BeniBlack.ttf);
}
