<footer>
  <div class="container">

    <div id="colorpick">
      <button class="btn default" data-value="defaultstyles"></button>
      <button class="btn blue" data-value="customstyle1"></button>
      <button class="btn green" data-value="customstyle2"></button>
      <button class="btn purple" data-value="customstyle3"></button>
      <button class="btn yellow" data-value="customstyle4"></button>
      <button class="btn pink" data-value="customstyle5"></button>
    </div>

    <h1>Footer</h1>
    <p>©2023 <a href="https://warface.co.uk/" target="_blank">warface</a></p>
  </div>
</footer>


<script>
// Get the container element
var btnContainer = document.getElementById("colorpick");

// Get all buttons with class="btn" inside the container
var btns = btnContainer.getElementsByClassName("btn");

// Loop through the buttons and add the active class to the current/clicked button
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active-colour");

    // If there's no active class
    if (current.length > 0) {
      current[0].className = current[0].className.replace(" active-colour", "");
    }

    // Add the active class to the current/clicked button
    this.className += " active-colour";
  });
}
</script>


<!-- Theme switcher script -->
<script>
  // This code is only used to remember theme selection between page loads
  const themeSwitch = document.querySelector('.theme-switch');
  themeSwitch.checked = localStorage.getItem('switchedTheme') === 'true';

  themeSwitch.addEventListener('change', function(e) {
  if (e.currentTarget.checked === true) {
    // Add item to localstorage
    localStorage.setItem('switchedTheme', 'true');
  } else {
    // Remove item if theme is switched back to normal
    localStorage.removeItem('switchedTheme');
  }
  });
</script>


<!-- StyleSwitcher JS -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

<script src="../assets/js/styleswitcher/styleSwitcher.js"></script>
<script src="../assets/js/styleswitcher/custom.js"></script>
