<footer>
  <div class="container">
    <div id="colorpick">
      <button data-value="defaultstyles">Default Theme</button>
      <button data-value="customstyle1">Blue Theme</button>
      <button data-value="customstyle2">Green Theme</button>
      <button data-value="customstyle3">Purple Theme</button>
      <button data-value="customstyle4">Yellow Theme</button>
      <button data-value="customstyle5">Pink Theme</button>
    </div>
    
    <h1>Footer</h1>
    <p>©2023 <a href="https://warface.co.uk/" target="_blank">warface</a></p>
  </div>
</footer>


<!-- Theme switcher script -->
<script>
  // This code is only used to remember theme selection between page loads
  const themeSwitch = document.querySelector('.theme-switch');
  themeSwitch.checked = localStorage.getItem('switchedTheme') === 'true';

  themeSwitch.addEventListener('change', function(e) {
  if (e.currentTarget.checked === true) {
    // Add item to localstorage
    localStorage.setItem('switchedTheme', 'true');
  } else {
    // Remove item if theme is switched back to normal
    localStorage.removeItem('switchedTheme');
  }
  });
</script>


<!-- StyleSwitcher JS -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

<script src="../assets/js/styleswitcher/styleSwitcher.js"></script>
<script src="../assets/js/styleswitcher/custom.js"></script>
