
<body>
  <!-- Theme switcher -->
  <input type="checkbox" class="theme-switch" id="theme-switch" />
  <div id="page">

    <header>
      <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="./">{{ site.title }}</a>

            <label for="theme-switch" class="switch-label"></label>

          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Mobile menu -->
          <div class="mobile-menu">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="menu-mobile">
                  {% include menu.html %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </nav>
    </header>

    <div class="menu-desktop">
      {% include menu.html %}
    </div>
