
<nav class="menu nav flex-column">
  <div>
    <a class="nav-link" href="#">Brand</a>
    <a class="nav-link" href="#">Colour</a>
    <a class="nav-link" href="#">Typography</a>
    <a class="nav-link" href="#">Iconography</a>
    <a class="nav-link" href="#">Layout</a>
    <a class="nav-link" href="#">Illustration</a>
    <a class="nav-link" href="#">Content</a>
    <a class="nav-link" href="#">Tokens</a>
    <a class="nav-link active" aria-current="page">Active</a>
    <a class="nav-link" href="#">Link</a>
    <h6>Components</h6>
    <h6>Navigation</h6>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled">Disabled</a>
  </div>
</nav>
