
:root {
  --font-brand: Roboto;
  --font-brand-ultrathin: 100;
  --font-brand-thin: 300;
  --font-brand-regular: 400;
  --font-brand-bold: 800;
  --font-brand-thick: 900;
}

@font-face {
  font-family: 'Beni';
  src: url(assets/fonts/BeniBlack.ttf);
}

.navbar-brand {
  font-family: 'Beni';
  font-weight: inherit !important;
  font-size: 2.4rem;
  line-height: 1.9rem;
}

a, .nav-link {
  color: var(--primary);
}
a:hover {
  color: var(--semantic-neutral-0);
}
