.colour-content {
  // margin: 28vh 80px 12vh;
  margin: 28vh;
  margin-left: clamp(0px, 12vw, 800px);
  margin-right: clamp(0px, 12vw, 800px);
}
ul.colour-shades {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  width: 100%;

  li {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4% 2%;
  }
  .colour-name {
    font-weight: bold;
  }
  .colour-value {
    font-size: 1rem;
  }
}

.pallete {
  background: var(--primary-accent);
  .colour-shade-1 {
    background: var(--primary-accent);
  }
  .colour-shade-2 {
    background: var(--secondary-accent);
  }
  .colour-shade-3 {
    background: var(--tertiary-accent);
  }
  .colour-shade-4 {
    background: var(--semantic-neutral-accent);
  }
}
.colour-block.primary {
  background: var(--primary-accent);
  .colour-shade-1 {
    background: var(--primary-0);
  }
  .colour-shade-2 {
    background: var(--primary-10);
  }
  .colour-shade-3 {
    background: var(--primary-20);
  }
  .colour-shade-4 {
    background: var(--primary-30);
  }
  .colour-shade-5 {
    background: var(--primary-40);
  }
  .colour-shade-6 {
    background: var(--primary-50);
  }
  .colour-shade-7 {
    background: var(--primary-60);
  }
  .colour-shade-8 {
    background: var(--primary-70);
  }
  .colour-shade-9 {
    background: var(--primary-80);
  }
  .colour-shade-10 {
    background: var(--primary-90);
  }
}
.colour-block.secondary {
  background: var(--secondary-accent);
  .colour-shade-1 {
    background: var(--secondary-0);
  }
  .colour-shade-2 {
    background: var(--secondary-10);
  }
  .colour-shade-3 {
    background: var(--secondary-20);
  }
  .colour-shade-4 {
    background: var(--secondary-30);
  }
  .colour-shade-5 {
    background: var(--secondary-40);
  }
  .colour-shade-6 {
    background: var(--secondary-50);
  }
  .colour-shade-7 {
    background: var(--secondary-60);
  }
  .colour-shade-8 {
    background: var(--secondary-70);
  }
  .colour-shade-9 {
    background: var(--secondary-80);
  }
  .colour-shade-10 {
    background: var(--secondary-90);
  }
}
.colour-block.tertiary {
  background: var(--tertiary-accent);
  .colour-shade-1 {
    background: var(--tertiary-0);
  }
  .colour-shade-2 {
    background: var(--tertiary-10);
  }
  .colour-shade-3 {
    background: var(--tertiary-20);
  }
  .colour-shade-4 {
    background: var(--tertiary-30);
  }
  .colour-shade-5 {
    background: var(--tertiary-40);
  }
  .colour-shade-6 {
    background: var(--tertiary-50);
  }
  .colour-shade-7 {
    background: var(--tertiary-60);
  }
  .colour-shade-8 {
    background: var(--tertiary-70);
  }
  .colour-shade-9 {
    background: var(--tertiary-80);
  }
  .colour-shade-10 {
    background: var(--tertiary-90);
  }
}
.colour-block.neutral {
  background: var(--semantic-neutral-accent);
  .colour-shade-1 {
    background: var(--semantic-neutral-0);
  }
  .colour-shade-2 {
    background: var(--semantic-neutral-10);
  }
  .colour-shade-3 {
    background: var(--semantic-neutral-20);
  }
  .colour-shade-4 {
    background: var(--semantic-neutral-30);
  }
  .colour-shade-5 {
    background: var(--semantic-neutral-40);
  }
  .colour-shade-6 {
    background: var(--semantic-neutral-50);
  }
  .colour-shade-7 {
    background: var(--semantic-neutral-60);
  }
  .colour-shade-8 {
    background: var(--semantic-neutral-70);
  }
  .colour-shade-9 {
    background: var(--semantic-neutral-80);
  }
  .colour-shade-10 {
    background: var(--semantic-neutral-90);
  }
}

.btn-primary {
  background: var(--primary-accent);
  color: var(--semantic-neutral-0);
  border-color: var(--primary-accent);
}
