header {
  position: fixed;
  width: 100%;
  z-index: 1;

  .navbar {
    background-color: black !important;
    z-index: 100;

    .container-fluid {
      justify-content: left;
      flex-direction: row;
    }
  }
  .navbar-brand {
    color: white !important;
  }
}
