header {
  position: fixed;
  width: 100%;
  z-index: 1;

  .navbar {
    background: var(--semantic-neutral-80) !important;
    z-index: 100;

    .container-fluid {
      flex-direction: row;
    }
    .brand-title {
      display: flex;
      flex-direction: row;
    }
    .navbar-toggler {
      color: white;
    }
  }
  .navbar-brand {
    display: flex;
    flex-direction: row;
    
    .backbeat-logo {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 36px;
      width: 36px;
    }
    .backbeat-logo.dark {
      background-image: url("/assets/css/assets/images/backbeat-dark.svg");
    }
    .backbeat-logo.sand {
      background-image: url("/assets/css/assets/images/backbeat-sand.svg");
    }
  }
}
