.menu {
  ul {
    list-style: none;
    padding: 0px;
  }
}
.mobile-menu .offcanvas-header {
  justify-content: right;
}
.offcanvas-body {
  padding: 0px;
}


.menu-desktop {
  width: 20%;
  max-width: 320px;
  min-width: 200px;

  .nav {
    background: var(--semantic-neutral-5);
    width: 20%;
    max-width: 320px;
    min-width: 200px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    margin-top: 56px;
    padding-bottom: 100px;
  }
}
.navbar-toggler {
  display: none;
}
