:root {
  /* Light mode */
  --light-switch-icon: "\F495";
  --light-switch-text: "Dark";
  --light-text: var(--color-neutral);
  --light-bg: #f7f7f7;
  --light-theme: #d34a97;

  /* Dark mode */
  --dark-switch-icon: "\F1D2";
  --dark-switch-text: "Light";
  --dark-text: white;
  --dark-bg: var(--semantic-neutral-90);
  --dark-theme: #bd93f9;

  /* Default mode */
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
}

/* Switched mode */
.theme-switch:checked ~ #page {
  --switch-icon: var(--dark-switch-icon);
  --switch-text: var(--dark-switch-text);
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --theme-color: var(--dark-theme);
}

/* Theme switcher */
.theme-switch { /* Hides the checkbox */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.switch-label {
  cursor: pointer;
  display: flex;
  color: white;
}

.switch-label::before {
  align-self: center;
  content: var(--switch-icon);
  font-size: 20px;
  transition: text-shadow .2s;
}

.switch-label::after {
  align-self: center;
  content: var(--switch-text);
  font-size: 14px;
  line-height: 40px;
  padding-left: 15px;
  transition: opacity .2s;
}


/* Styling */
#page {
  background: var(--bg-color);
  color: var(--text-color);
  transition: color .2s, background-color .2s;
  min-height: 100%;
}

a {
  color: var(--theme-color);
}
